body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.banner {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
}

h1 {
    font-family: "Montserrat", sans-serif;
}

#heading {
    position: absolute;
    bottom: -50%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 3rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    z-index: 200;
}

#banner-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 110%;
    object-fit: cover;
    transform: translateZ(0);
    transition: transform 0.2s ease-out;
}

.content {
  background: #111;
  color: white;
  padding: 20px;
  text-align: center;
}